{{#each this}}
<div>
    <img src="{{flags.svg}}" alt="" width="30" height="22">
    <span class="country-title">{{name.official}}</span>
    <p>Capital: <span class="title__label">{{capital}}</span></p>
    <p>Population : <span class="title__label">{{population}}</span></p>
     <p>Languages : <span class="title__label">{{languages}}</span></p>
</div>
{{/each }}